.cart-no {
    position: absolute;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    font-size: 1em;
    background: red;
    color: white;
    text-decoration: none;
    text-align: center;
    top: -10px;
    right: 0px;
}